@import './font/index.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}


::-webkit-scrollbar {

  width:6px;

}

/* 滚动槽 */

::-webkit-scrollbar-track {

  -webkit-box-shadow: rgba(0,0,0,0.3);

  border-radius:6px;

}

/* 滚动条滑块 */

::-webkit-scrollbar-thumb {

  border-radius:6px;

  background: #E6E6E6;

  -webkit-box-shadow: rgba(0,0,0,0.5);

}

::-webkit-scrollbar-thumb:window-inactive {

  background: transparent;

}
/*外层轨道*/
::-webkit-scrollbar-track {
  background: transparent;
}

